body{
    background-image: url('/images/symphony.png');
}

@font-face {
    font-family: Ananda;
    src: url("/fonts/AnandaNeptouch.ttf");
}

.dotayaari{
	font-family: Ananda;
}


.logoImg{
	background: none !important;
	border-radius: 0px !important;
}

.logoImg img{
	margin: 0 !important;
	width: 100%;
}


.myrevslider.lightVersion{
	overflow: scoll !important;
}


.carousel-control.left{
	background-image:none !important;
}

.carousel-control.right{
	background-image:none !important;
}

.carousel-control{
	color: #d94462 !important;
}


/*Commnet box CSS*/

.detailBox {
    width:320px;
    border:1px solid #bbb;
    margin:50px;
}
.titleBox {
    background-color:#fdfdfd;
    padding:10px;
}
.titleBox label{
  color:#444;
  margin:0;
  display:inline-block;
}

.commentBox {
    padding:10px;
}
.commentBox .form-group:first-child, .actionBox .form-group:first-child {
    width:80%;
}
.commentBox .form-group:nth-child(2), .actionBox .form-group:nth-child(2) {
    width:18%;
}
.actionBox .form-group * {
    width:100%;
}
.taskDescription {
    margin-top:10px 0;
}
.commentList {
    padding:0;
    list-style:none;
    max-height:350px;
    overflow:auto;
}
.commentList li {
    margin:0;
    margin-top:10px;
}
.commentList li > div {
    display:table-cell;
}
.commenterImage {
    width:30px;
    margin-right:5px;
    float:left;
}
.commenterImage img {
    width:100%;
    border-radius:50%;
}
.commentText p {
    margin:0;
}
.sub-text {
    color:#aaa;
    font-family:verdana;
    font-size:11px;
}
.actionBox {
    padding:10px;
}

.partibutton1, .partibutton2{
    background: #d94462 !important;
}
.partibutton1 i, .partibutton2 i{
    background: #d94462 !important;
}

.center-block{
    margin-left: 30%;
}

.router-link{
    cursor: pointer;
}

@media (max-width: 768px) {
    .lightSliderCap{
        font-size: 8em;
    }

}