body{
    background-image: url('/images/symphony.png');
}

@font-face {
    font-family: Ananda;
    src: url("/fonts/AnandaNeptouch.ttf");
}

pre{
    white-space: pre-line !important;
    word-break: normal;
    background-color: white;
    border: #d94462 1px solid;
}



.sectionTitle h1{
    line-height: normal;
    color: black !important;
}

.sectionTitle h1 span:before, .sectionTitle h1 span:after{
    border-top: 1px solid #d94462 !important;
}

.dotayaari{
	font-family: Ananda;
}

.modal{
    z-index: 10050 !important;
}

.fashImg{
    height: 230px !important;
}

.owl-theme .owl-controls .owl-buttons div{
    background: none !important;
}
.owl-buttons .owl-prev{
    left: auto;
    position: absolute;
    right: 35px;
    top: -95px;
}

.owl-buttons .owl-next{
    left: auto;
    position: absolute;
    right: 14px;
    top:-95px;
}

.logoImg{
	background: none !important;
	border-radius: 0px !important;
}

.logoImg img{
	margin: 0 !important;
	width: 100%;
}


.myrevslider.lightVersion{
	overflow: scoll !important;
}


.carousel-control.left{
	background-image:none !important;
}

.carousel-control.right{
	background-image:none !important;
}

.carousel-control{
	color: #d94462 !important;
}


/*Commnet box CSS*/

.detailBox {
    width:320px;
    border:1px solid #bbb;
    margin:50px;
}
.titleBox {
    background-color:#fdfdfd;
    padding:10px;
}
.titleBox label{
  color:#444;
  margin:0;
  display:inline-block;
}

.commentBox {
    padding:10px;
}
.commentBox .form-group:first-child, .actionBox .form-group:first-child {
    width:80%;
}
.commentBox .form-group:nth-child(2), .actionBox .form-group:nth-child(2) {
    width:18%;
}
.actionBox .form-group * {
    width:100%;
}
.taskDescription {
    margin-top:10px 0;
}
.commentList {
    padding:0;
    list-style:none;
    max-height:350px;
    overflow:auto;
}
.commentList li {
    margin:0;
    margin-top:10px;
}
.commentList li > div {
    display:table-cell;
}
.commenterImage {
    width:30px;
    margin-right:5px;
    float:left;
}
.commenterImage img {
    width:100%;
    border-radius:50%;
}
.commentText p {
    margin:0;
}
.sub-text {
    color:#aaa;
    font-family:verdana;
    font-size:11px;
}
.actionBox {
    padding:10px;
}

.partibutton1, .partibutton2{
    background: #d94462 !important;
    color: white !important;
}
.partibutton1 i, .partibutton2 i{
    background: #d94462 !important;
}

.center-block{
    margin-left: 30%;
}

.router-link{
    cursor: pointer;
}

.fashHover{
    padding: 25px 20% 0px !important;
}

/*.no-crop-mobile{
    
    height: 500px !important;
}*/

.header{
    z-index: 1 !important;
}

@media (max-width: 768px) {
    .lightSliderCap{
        font-size: 8em;
    }

    .no-crop-mobile{
        width: 100% !important;
        height:auto !important;
    }
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px){
     .no-crop-mobile{
        width: 100% !important
    }
}

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)
and (-webkit-min-device-pixel-ratio: 1){
    .no-crop-mobile{
        width: 100% !important
    }
}


