<div class="row">
  <div class="col-md-12" *ngIf='object.reviews' >
<!--     <div  class="well" *ngFor="let review of object.reviews">
      <div >
        <img [src]="review.display_picture" class="pull-left">
        <p class="pull-left">{{review.rating}}</p>
        <span class="text-center">
          <h5 >{{review.name}}</h5>
          <p>{{review.comment}}</p>  
        </span>
      </div>
    </div> -->
    <div class="actionBox">
      <ul class="commentList">
        <li *ngFor="let review of object.reviews">
          <div class="commenterImage">
            <img [src]="review.display_picture" />
          </div>
          <div class="commentText">
            <p><strong>{{review.name}}</strong></p>
            <p class="">{{review.comment}}</p> <span class="date sub-text"><rating [readonly]='true' [(ngModel)]="review.rating"></rating></span>

          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
<div *ngIf="!auth.authenticated()">
  <p>Login to post a review</p>
  <button class="btn btn-primary btn-margin" (click)="auth.login()">Login</button>
</div>
<div *ngIf="auth.authenticated() && auth.userProfile">

  <div class="row">
    <div class="col-md-6" *ngIf="object">
      <!-- <h3>Profile</h3> -->
      <!-- <img [src]="auth.userProfile.picture" alt="" class="profile-img"> -->
      <!-- <p><strong>Name: </strong> {{auth.userProfile.name}}</p> -->
      <!-- <p><strong>Email: </strong> {{auth.userProfile.email}}</p> -->
      <!-- <p><strong>Nickname: </strong> {{auth.userProfile.nickname}}</p> -->
      <!-- <p><strong>Created At: </strong> {{auth.userProfile.created_at}}</p> -->
      <!-- <p><strong>Updated At: </strong> {{auth.userProfile.updated_at}}</p> -->
      <form *ngIf="!commentSuccess">
        <h4>Post a review</h4>
        <!-- <input type="hidden" name="profile_name" value="{{auth.userProfile.name}}">
        <input type="hidden" name="profile_picture" value="{{auth.userProfile.picture}}"> -->
        <div class="form-group">
          <rating [(ngModel)]="rate" [max]="max" name="rating"  (onHover)="hoveringOver($event)" (onLeave)="resetStar($event)" ></rating>
        </div>
        <div class="form-group">
          <textarea class="form-control" rows="3" [(ngModel)]="comment" name="comment"></textarea>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-default" (click)="postComment()">Submit</button>
        </div>
      </form>
      <div class="alert alert-success" role="alert" *ngIf="commentSuccess"> 
        <h5>Your Review Has been posted Sucessfully</h5>
      </div>
    </div>
  </div>
</div>