	<div class="container">
		<div class="row">
			<div class="col-lg-9 col-sm-8 col-xs-12 shopSidebar">
				<div class="row wow fadeInUp" data-wow-duration="700ms" data-wow-delay="300ms">
					<div class="col-lg-5">
						<div class="shopSingleSlider">
							<div class="singThSld">
								<div class="singPodImg">
									<img alt="" src="images/shopSingl/thumb1.jpg">
									<!-- <div class="podStat clearfix">
										<span class="pull-left">New</span>
										<span class="pull-right">-15%</span>
									</div> -->
								</div>
								<div class="singPodImg">
									<img alt="" src="images/shopSingl/thumb2.jpg">
									<!-- <div class="podStat clearfix">
										<span class="pull-left">New</span>
										<span class="pull-right">-15%</span>
									</div> -->
								</div>
								<div class="singPodImg">
									<img alt="" src="images/shopSingl/thumb3.jpg">
									<!-- <div class="podStat clearfix">
										<span class="pull-left">New</span>
										<span class="pull-right">-15%</span>
									</div> -->
								</div>
								<div class="singPodImg">
									<img alt="" src="images/shopSingl/thumb4.jpg">
									<!-- <div class="podStat clearfix">
										<span class="pull-left">New</span>
										<span class="pull-right">-15%</span>
									</div> -->
								</div>
							</div>
							<div class="podZoom">
								<a data-slide-index="0" href="" class="podSingZoom">
									<img alt="" src="images/shopSingl/zoom1.jpg">
								</a>
								<a data-slide-index="1" href="" class="podSingZoom">
									<img alt="" src="images/shopSingl/zoom2.jpg">
								</a>
								<a data-slide-index="2" href="" class="podSingZoom">
									<img alt="" src="images/shopSingl/zoom3.jpg">
								</a>
								<a data-slide-index="3" href="" class="podSingZoom">
									<img alt="" src="images/shopSingl/zoom4.jpg">
								</a>
							</div>
						</div>
					</div>
					<div  *ngIf="venue" class="col-lg-7">
						<h3 class="podName">{{venue.title}}</h3>
						<div class="podRatings">
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star two"></i>
							<i class="fa fa-star two"></i>
						</div>
						<div class="podDesc">
							<p>{{venue.address}}</p>

							<button type="button"><i class="fa fa-phone"></i> Contact</button>

							<!-- <form action="#" class="podBtnForm clearfix">
								<div class="quantity pull-left">
									<span class="minus">-</span>
									<input type="text" value="2" id="plusMinus">
									<span class="plus">+</span>
								</div>
								<div class="podBtnGroup pull-left">
									<input type="submit" value="Add to cart">
									<button type="button"><i class="fa fa-heart"></i></button>
								</div>
							</form> -->
						</div>
					</div>
				</div>
				<div class="row wow fadeInUp" data-wow-duration="700ms" data-wow-delay="300ms"   *ngIf="venue">
					<div class="col-lg-12 productDesc">
						<div role="tabpanel" class="mainTab">
							<!-- Nav tabs -->
							<ul class="nav nav-tabs" role="tablist">
								<li role="presentation" class="active"><a href="#dtails" aria-controls="dtails" role="tab" data-toggle="tab">Description</a></li>
								<li role="presentation"><a href="#adiinfo" aria-controls="adiinfo" role="tab" data-toggle="tab">Amenities</a></li>
								<li role="presentation"><a href="#review" aria-controls="review" role="tab" data-toggle="tab">Reviews</a></li>
							</ul>

							<!-- Tab panes -->
							<div class="tab-content">
								<div role="tabpanel" class="tab-pane fade in active" id="dtails">
									<p>{{venue.description}}</p>
								</div>
								<div role="tabpanel" class="tab-pane fade" id="adiinfo">
									<p>{{venue.amenities[0].title}}</p>
								</div>
								<div role="tabpanel" class="tab-pane fade" id="review">
									<p>
										Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consu untur 
										magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est enim ipsam voluptatem
										quia voluptas sit aspernatur aut odit aut fugit, sed quia consuuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
									</p>
									<p>
										Voluptas sit aspernatur aut odit aut fugit, sed quia consu untur magni dolores eos qui ratione voluptatem sequi nesciunt. 
										Neque porro quisquam est enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consuuntur magni 
										dolores eos qui ratione voluptatem sequi nesciunt. Voluptas sit aspernatur aut odit aut fugit, sed quia consu untur magni 
										dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est enim ipsam voluptatem quia voluptas sit aspernatur 
										aut odit aut fugit, sed quia consuuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Voluptas sit aspernatur aut 
										odit aut fugit, sed quia consu untur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est enim 
										ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consuuntur magni dolores eos qui ratione voluptatem 
										sequi nesciunt.
									</p>
								</div>
							</div>

						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-12">
						<div class="h3contTttl">
							<h2>Venues Nearby</h2>
						</div>
					</div>
				</div>
				<div class="row wow fadeInUp" data-wow-duration="700ms" data-wow-delay="300ms">
					<div id="fashionCarousel" class="owl-carousel btnDesign custoMr">
						<div class="col-lg-4 col-sm-4 col-xs-12 text-center">
							<div class="podContainer">
								<div class="podImg">
									<a href="shopSingle.html"><img src="images/shop/product/7.jpg" alt=""></a>
									<div class="podStat clearfix">
										<!-- <span class="pull-left">New</span>
										<span class="pull-right">-15%</span> -->
									</div>
								</div>
								<div class="podMeta">
									<h5><a href="shopSingle.html">Cross shoulder bag</a></h5>
									<p>Ut enim ad minim veniam, quis</p>
									<!-- <ul>
										<li><a href="#">56$</a></li>
										<li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
										<li><a href="#"><i class="fa fa-heart"></i></a></li>
									</ul> -->
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-sm-4 col-xs-12 text-center">
							<div class="podContainer">
								<div class="podImg">
									<a href="shopSingle.html"><img src="images/shop/product/2.jpg" alt=""></a>
									<div class="podStat clearfix">
										<!-- <span class="pull-left">New</span>
										<span class="pull-right">-15%</span> -->
									</div>
								</div>
								<div class="podMeta">
									<h5><a href="shopSingle.html">Cross shoulder bag</a></h5>
									<p>Ut enim ad minim veniam, quis</p>
									<!-- <ul>
										<li><a href="#">56$</a></li>
										<li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
										<li><a href="#"><i class="fa fa-heart"></i></a></li>
									</ul> -->
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-sm-4 col-xs-12 text-center">
							<div class="podContainer">
								<div class="podImg">
									<a href="shopSingle.html"><img src="images/shop/product/8.jpg" alt=""></a>
									<div class="podStat clearfix">
										<!-- <span class="pull-left">New</span>
										<span class="pull-right">-15%</span> -->
									</div>
								</div>
								<div class="podMeta">
									<h5><a href="shopSingle.html">Cross shoulder bag</a></h5>
									<p>Ut enim ad minim veniam, quis</p>
								<!-- 	<ul>
										<li><a href="#">56$</a></li>
										<li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
										<li><a href="#"><i class="fa fa-heart"></i></a></li>
									</ul> -->
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-sm-4 col-xs-12 text-center">
							<div class="podContainer">
								<div class="podImg">
									<a href="shopSingle.html"><img src="images/shop/product/7.jpg" alt=""></a>
									<div class="podStat clearfix">
										<!-- <span class="pull-left">New</span>
										<span class="pull-right">-15%</span> -->
									</div>
								</div>
								<div class="podMeta">
									<h5><a href="shopSingle.html">Cross shoulder bag</a></h5>
									<p>Ut enim ad minim veniam, quis</p>
									<!-- <ul>
										<li><a href="#">56$</a></li>
										<li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
										<li><a href="#"><i class="fa fa-heart"></i></a></li>
									</ul> -->
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-sm-4 col-xs-12 text-center">
							<div class="podContainer">
								<div class="podImg">
									<a href="shopSingle.html"><img src="images/shop/product/2.jpg" alt=""></a>
									<div class="podStat clearfix">
										<!-- <span class="pull-left">New</span>
										<span class="pull-right">-15%</span> -->
									</div>
								</div>
								<div class="podMeta">
									<h5><a href="shopSingle.html">Cross shoulder bag</a></h5>
									<p>Ut enim ad minim veniam, quis</p>
									<!-- <ul>
										<li><a href="#">56$</a></li>
										<li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
										<li><a href="#"><i class="fa fa-heart"></i></a></li>
									</ul> -->
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-sm-4 col-xs-12 text-center">
							<div class="podContainer">
								<div class="podImg">
									<a href="shopSingle.html"><img src="images/shop/product/8.jpg" alt=""></a>
									<div class="podStat clearfix">
										<!-- <span class="pull-left">New</span>
										<span class="pull-right">-15%</span> -->
									</div>
								</div>
								<div class="podMeta">
									<h5><a href="shopSingle.html">Cross shoulder bag</a></h5>
									<p>Ut enim ad minim veniam, quis</p>
									<!-- <ul>
										<li><a href="#">56$</a></li>
										<li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
										<li><a href="#"><i class="fa fa-heart"></i></a></li>
									</ul> -->
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-sm-4 col-xs-12">
				<div class="sidebar">
					<aside class="widget noBorderTop wow fadeInUp" data-wow-duration="700ms" data-wow-delay="300ms">
						<h3 class="widgetTitle">Additional Services</h3>
						<ul>
							<li><a href="#">Decorators</a></li>
						</ul>
					</aside>
					<!-- <aside class="widget noBorderBottom wow fadeInUp" data-wow-duration="700ms" data-wow-delay="300ms">
						<h3 class="widgetTitle">Related</h3>
						<a href="#" id="ui-carousel-next"><i class="fa fa-angle-left"></i></a>
						<a href="#" id="ui-carousel-prev"><i class="fa fa-angle-right"></i></a>
						<div id="ProVerCarousel">
							<div id="carousel">
								<div class="relPdt">
									<div class="relPImg pull-left">
										<a href="shopSingle.html"><img src="images/shopSingl/rel1.jpg" alt=""></a>
									</div>
									<div class="pull-left relPBtn">
										<h5><a href="#">Nemo enim ipsam</a></h5>
										<a href="#">56$</a>
										<a href="#"><i class="fa fa-shopping-cart"></i></a>
										<a href="#"><i class="fa fa-heart"></i></a>
									</div>
								</div>
								<div class="relPdt">
									<div class="relPImg pull-left">
										<a href="shopSingle.html"><img src="images/shopSingl/rel2.jpg" alt=""></a>
									</div>
									<div class="pull-left relPBtn">
										<h5><a href="#">Nemo enim ipsam </a></h5>
										<a href="#">56$</a>
										<a href="#"><i class="fa fa-shopping-cart"></i></a>
										<a href="#"><i class="fa fa-heart"></i></a>
									</div>
								</div>
								<div class="relPdt">
									<div class="relPImg pull-left">
										<a href="shopSingle.html"><img src="images/shopSingl/rel3.jpg" alt=""></a>
									</div>
									<div class="pull-left relPBtn">
										<h5><a href="#">Nemo enim ipsam</a></h5>
										<a href="#">56$</a>
										<a href="#"><i class="fa fa-shopping-cart"></i></a>
										<a href="#"><i class="fa fa-heart"></i></a>
									</div>
								</div>
								<div class="relPdt">
									<div class="relPImg pull-left">
										<a href="shopSingle.html"><img src="images/shopSingl/rel4.jpg" alt=""></a>
									</div>
									<div class="pull-left relPBtn">
										<h5><a href="#">Nemo enim ipsam</a></h5>
										<a href="#">56$</a>
										<a href="#"><i class="fa fa-shopping-cart"></i></a>
										<a href="#"><i class="fa fa-heart"></i></a>
									</div>
								</div>
								<div class="relPdt">
									<div class="relPImg pull-left">
										<a href="shopSingle.html"><img src="images/shopSingl/rel5.jpg" alt=""></a>
									</div>
									<div class="pull-left relPBtn">
										<h5><a href="#">Nemo enim ipsam</a></h5>
										<a href="#">56$</a>
										<a href="#"><i class="fa fa-shopping-cart"></i></a>
										<a href="#"><i class="fa fa-heart"></i></a>
									</div>
								</div>
								<div class="relPdt">
									<div class="relPImg pull-left">
										<a href="shopSingle.html"><img src="images/shopSingl/rel3.jpg" alt=""></a>
									</div>
									<div class="pull-left relPBtn">
										<h5><a href="#">Nemo enim ipsam</a></h5>
										<a href="#">56$</a>
										<a href="#"><i class="fa fa-shopping-cart"></i></a>
										<a href="#"><i class="fa fa-heart"></i></a>
									</div>
								</div>
								<div class="relPdt">
									<div class="relPImg pull-left">
										<a href="shopSingle.html"><img src="images/shopSingl/rel4.jpg" alt=""></a>
									</div>
									<div class="pull-left relPBtn">
										<h5><a href="#">Nemo enim ipsam</a></h5>
										<a href="#">56$</a>
										<a href="#"><i class="fa fa-shopping-cart"></i></a>
										<a href="#"><i class="fa fa-heart"></i></a>
									</div>
								</div>
								<div class="relPdt">
									<div class="relPImg pull-left">
										<a href="shopSingle.html"><img src="images/shopSingl/rel5.jpg" alt=""></a>
									</div>
									<div class="pull-left relPBtn">
										<h5><a href="#">Nemo enim ipsam</a></h5>
										<a href="#">56$</a>
										<a href="#"><i class="fa fa-shopping-cart"></i></a>
										<a href="#"><i class="fa fa-heart"></i></a>
									</div>
								</div>
							</div>
						</div>
					</aside> -->
				</div>
			</div>
		</div>
	</div>