<div class="container">
	<div class="row">
		<div class="col-lg-9 col-sm-8 col-xs-12 shopSidebar">
			<!-- =========================== Shop Content Section =========================== -->
			<div class="row">
				<section class="shopContent">
					<div class="col-lg-12">
						<div class="sortingSelect">
							<p>
								<span>Sort by: </span>
								<select class="selectpicker" data-width="203px">
									<option>Position</option>
									<option>Size</option>
									<option>Color</option>
								</select>
								<span class="last">Show: </span>
								<select class="selectpicker" data-width="65px">
									<option>12</option>
									<option>20</option>
									<option>40</option>
								</select>
							</p>

						</div>
					</div>
					<div *ngFor="let venue of venues" class="col-lg-4 col-sm-6 col-xs-12 text-center wow fadeInUp" data-wow-duration="700ms" data-wow-delay="300ms">
						<div class="fashImg">
							<img class="img-responsive" [src]="'http://205.147.100.109'+venue.images[0].image" alt=""  >
							<div class="fashHover" (click)="goToVenue(venue)" angulartics2On="click" angularticsCategory="{{ venue.title }}" angularticsEvent="ViewVenue">
								<p>12/10</p>
								<p>{{venue.address}}</p>
							</div>
							<div class="fashContent">
							<p>{{venue.title}}</p>
							</div>
						</div>
					</div>

				</section>
			</div>
			<!-- <div class="row h3MarginBtm">
				<div class="col-lg-12">
					<ul class="mainPagi wow fadeInUp" data-wow-duration="700ms" data-wow-delay="300ms">
						<li><i class="fa fa-angle-left"></i></li>
						<li class="active"><a href="#">1</a></li>
						<li><a href="#">2</a></li>
						<li><a href="#">3</a></li>
						<li><a href="#">4</a></li>
						<li><a href="#">5</a></li>
						<li><span>...</span></li>
						<li><a href="#">17</a></li>
						<li><i class="fa fa-angle-right"></i></li>
					</ul>
				</div>
			</div> -->
		</div>
		<div class="col-lg-3 col-sm-4 col-xs-12">
			<div class="sidebar">
				<aside class="widget noBorderTop wow fadeInUp" data-wow-duration="700ms" data-wow-delay="300ms">
					<h3 class="widgetTitle">Locations</h3>
					<ul>
						<li><a href="#">North Goa</a></li>
						<li><a href="#">South Goa</a></li>
					</ul>
				</aside>
				<aside class="widget wow fadeInUp animated" data-wow-duration="700ms" data-wow-delay="300ms" style="visibility: visible; animation-duration: 700ms; animation-delay: 300ms; animation-name: fadeInUp;">
					<h3 class="widgetTitle">Price</h3>
					<div class="productRanger">
						<p>
							<span>form: 10k</span>-<span>to: 100k</span>
						</p>
						<input id="priceRange" class="hidden irs-hidden-input" readonly="">
					</div>
				</aside>
				<aside class="widget wow fadeInUp" data-wow-duration="700ms" data-wow-delay="300ms">
					<h3 class="widgetTitle">Occasions</h3>
					<div class="checkboxBrand">
						<input id="check1" type="checkbox" name="check" value="check1">
						<label for="check1">Birthdays</label>
						<br>
						<input id="check2" type="checkbox" name="check" value="check2">
						<label for="check2">Wedding</label>
						<br>
						<input id="check3" type="checkbox" name="check" value="check3">
						<label for="check3">Anniversary</label>
					</div>
				</aside>
				<aside class="widget wow fadeInUp" data-wow-duration="700ms" data-wow-delay="300ms">
					<h3 class="widgetTitle">Other Services</h3>
					<div class="radioOther">
						<input id="r1" type="radio" name="gender" value="male">
						<label for="r1">Catering</label>
						<br>
						<input id="r2" type="radio" name="gender" value="female">
						<label for="r2">Furniture</label>
						<br>
						<input id="r3" type="radio" name="gender" value="female">
						<label for="r3">Event Management</label>
					</div>
				</aside>
			</div>
		</div>
	</div>
</div>