<section class="myrevslider lightVersion">
  <div class="tp-banner">
    <ul>
      <li data-transition="cube" data-slotamount="7" data-masterspeed="1000" >
        <img src="images/banner/lvBanner.jpg"  alt="slidebg1"  data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">

        <div class="tp-caption lightgrey_divider lfl ltl"
        data-x="left"
        data-y="70"
        data-speed="1600"
        data-start="1500"
        data-easing="Power4.easeOut">
        <h6 class="lightSliderCap">ENVISION the event.<br>
          EQUIP and customise.<br/>
          EXHIBIT in style.
          <br/>
          <span class="dotayaari">Do tayaari</span>!</h6>
        </div>
        <!-- <div class="tp-caption lightgrey_divider lfb ltb text-left leftBtn"
        data-x="center"
        data-hoffset="-500"
        data-y="405"
        data-speed="1600"
        data-start="1500"
        data-easing="Power4.easeOut">
        <a class="lightMenuBtn leftBtn" href="#">Read more</a>
      </div> -->
      <div class="tp-caption lightgrey_divider lft ltt"
      data-x="585"
      data-y="center"
      data-speed="1600"
      data-start="1500"
      data-easing="Power4.easeOut">
      <div class="banSingleCont text-center">
        <div class="banImg">
          <a href="#"><img src="images/home3/btop1.jpg" alt=""></a>
        </div>
        <div class="banTttl">
          <h2><a href="#" >Venues</a></h2>
        </div>
      </div>
    </div>
    <div class="tp-caption lightgrey_divider lfb ltb"
    data-x="780"
    data-y="center"
    data-speed="1800"
    data-start="1500"
    data-easing="Power4.easeOut">
    <div class="banSingleCont text-center">
      <div class="banImg">
        <a href="#"><img src="images/home3/btop2.jpg" alt=""></a>
      </div>
      <div class="banTttl">
        <h2><a href="#">Caterers</a></h2>
      </div>
    </div>
  </div>
  <div class="tp-caption lightgrey_divider lft ltt"
  data-x="right"
  data-y="center"
  data-speed="2000"
  data-start="1500"
  data-easing="Power4.easeOut">
  <div class="banSingleCont text-center">
    <div class="banImg">
      <a href="#"><img src="images/home3/btop3.jpg" alt=""></a>
    </div>
    <div class="banTttl">
      <h2><a href="#">Planners</a></h2>
    </div>
  </div>
</div>
</li>
</ul>
</div>
</section>






<section class="h3Content">
 <div class="container">
  <div class="row">
    <div class="col-lg-9 col-sm-8 col-xs-12">
     <div class="row">
       <div class="col-lg-12">
        <div class="h3contTttl wow fadeInUp" data-wow-duration="700ms" data-wow-delay="300ms">
          <h2>Venues</h2>
        </div>
      </div>
    </div>
    <div class="row wow fadeInUp" data-wow-duration="700ms" data-wow-delay="300ms">
     <div id="fashionCarousel" class="owl-carousel btnDesign">
      <div class="col-lg-4">
        <div class="fashImg">
         <img src="images/home3/fa1.jpg" alt="">
         <div class="fashHover">
           <h2>12/10</h2>
           <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem.</p>
           <ul>
            <li>
              <a href="#"><i class="fa fa-eye"></i> <span>304</span> <b>|</b></a>
            </li>
            <li>
              <a href="#"><i class="fa fa-comment-o"></i> <span>2</span></a>
            </li>
          </ul>
        </div>
        <div class="fashContent">
         <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur...</p>
       </div>
     </div>
   </div>
   <div class="col-lg-4">
    <div class="fashImg">
     <img src="images/home3/fa2.jpg" alt="">
     <div class="fashHover">
       <h2>12/10</h2>
       <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem.</p>
       <ul>
        <li>
          <a href="#"><i class="fa fa-eye"></i> <span>304</span> <b>|</b></a>
        </li>
        <li>
          <a href="#"><i class="fa fa-comment-o"></i> <span>2</span></a>
        </li>
      </ul>
    </div>
    <div class="fashContent">
     <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur...</p>
   </div>
 </div>
</div>
<div class="col-lg-4">
  <div class="fashImg">
   <img src="images/home3/fa3.jpg" alt="">
   <div class="fashHover">
     <h2>12/10</h2>
     <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem.</p>
     <ul>
      <li>
        <a href="#"><i class="fa fa-eye"></i> <span>304</span> <b>|</b></a>
      </li>
      <li>
        <a href="#"><i class="fa fa-comment-o"></i> <span>2</span></a>
      </li>
    </ul>
  </div>
  <div class="fashContent">
   <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur...</p>
 </div>
</div>
</div>
<div class="col-lg-4">
  <div class="fashImg">
   <img src="images/home3/fa1.jpg" alt="">
   <div class="fashHover">
     <h2>12/10</h2>
     <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem.</p>
     <ul>
      <li>
        <a href="#"><i class="fa fa-eye"></i> <span>304</span> <b>|</b></a>
      </li>
      <li>
        <a href="#"><i class="fa fa-comment-o"></i> <span>2</span></a>
      </li>
    </ul>
  </div>
  <div class="fashContent">
   <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur...</p>
 </div>
</div>
</div>
<div class="col-lg-4">
  <div class="fashImg">
   <img src="images/home3/fa2.jpg" alt="">
   <div class="fashHover">
     <h2>12/10</h2>
     <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem.</p>
     <ul>
      <li>
        <a href="#"><i class="fa fa-eye"></i> <span>304</span> <b>|</b></a>
      </li>
      <li>
        <a href="#"><i class="fa fa-comment-o"></i> <span>2</span></a>
      </li>
    </ul>
  </div>
  <div class="fashContent">
   <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur...</p>
 </div>
</div>
</div>
<div class="col-lg-4">
  <div class="fashImg">
   <img src="images/home3/fa3.jpg" alt="">
   <div class="fashHover">
     <h2>12/10</h2>
     <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem.</p>
     <ul>
      <li>
        <a href="#"><i class="fa fa-eye"></i> <span>304</span> <b>|</b></a>
      </li>
      <li>
        <a href="#"><i class="fa fa-comment-o"></i> <span>2</span></a>
      </li>
    </ul>
  </div>
  <div class="fashContent">
   <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur...</p>
 </div>
</div>
</div>
</div>
</div>


<div class="row">
 <div class="col-lg-12">
  <div class="h3contTttl wow fadeInUp" data-wow-duration="700ms" data-wow-delay="300ms">
    <h2>Caterers</h2>
  </div>
</div>
</div>
<div class="row h3MarginBtm wow fadeInUp" data-wow-duration="700ms" data-wow-delay="300ms">
 <div id="helthCarousel" class="owl-carousel btnDesign">
  <div class="col-lg-4">
    <div class="fashImg noMarginBottom">
     <img src="images/home3/hel1.jpg" alt="">
     <div class="fashHover">
       <h2>12/10</h2>
       <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem.</p>
       <ul>
        <li>
          <a href="#"><i class="fa fa-eye"></i> <span>304</span> <b>|</b></a>
        </li>
        <li>
          <a href="#"><i class="fa fa-comment-o"></i> <span>2</span></a>
        </li>
      </ul>
    </div>
    <div class="fashContent">
     <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur...</p>
   </div>
 </div>
</div>
<div class="col-lg-4">
  <div class="fashImg noMarginBottom">
   <img src="images/home3/hel2.jpg" alt="">
   <div class="fashHover">
     <h2>12/10</h2>
     <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem.</p>
     <ul>
      <li>
        <a href="#"><i class="fa fa-eye"></i> <span>304</span> <b>|</b></a>
      </li>
      <li>
        <a href="#"><i class="fa fa-comment-o"></i> <span>2</span></a>
      </li>
    </ul>
  </div>
  <div class="fashContent">
   <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur...</p>
 </div>
</div>
</div>
<div class="col-lg-4">
  <div class="fashImg noMarginBottom">
   <img src="images/home3/hel3.jpg" alt="">
   <div class="fashHover">
     <h2>12/10</h2>
     <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem.</p>
     <ul>
      <li>
        <a href="#"><i class="fa fa-eye"></i> <span>304</span> <b>|</b></a>
      </li>
      <li>
        <a href="#"><i class="fa fa-comment-o"></i> <span>2</span></a>
      </li>
    </ul>
  </div>
  <div class="fashContent">
   <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur...</p>
 </div>
</div>
</div>
<div class="col-lg-4">
  <div class="fashImg noMarginBottom">
   <img src="images/home3/hel1.jpg" alt="">
   <div class="fashHover">
     <h2>12/10</h2>
     <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem.</p>
     <ul>
      <li>
        <a href="#"><i class="fa fa-eye"></i> <span>304</span> <b>|</b></a>
      </li>
      <li>
        <a href="#"><i class="fa fa-comment-o"></i> <span>2</span></a>
      </li>
    </ul>
  </div>
  <div class="fashContent">
   <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur...</p>
 </div>
</div>
</div>
<div class="col-lg-4">
  <div class="fashImg noMarginBottom">
   <img src="images/home3/hel2.jpg" alt="">
   <div class="fashHover">
     <h2>12/10</h2>
     <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem.</p>
     <ul>
      <li>
        <a href="#"><i class="fa fa-eye"></i> <span>304</span> <b>|</b></a>
      </li>
      <li>
        <a href="#"><i class="fa fa-comment-o"></i> <span>2</span></a>
      </li>
    </ul>
  </div>
  <div class="fashContent">
   <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur...</p>
 </div>
</div>
</div>
<div class="col-lg-4">
  <div class="fashImg noMarginBottom">
   <img src="images/home3/hel3.jpg" alt="">
   <div class="fashHover">
     <h2>12/10</h2>
     <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem.</p>
     <ul>
      <li>
        <a href="#"><i class="fa fa-eye"></i> <span>304</span> <b>|</b></a>
      </li>
      <li>
        <a href="#"><i class="fa fa-comment-o"></i> <span>2</span></a>
      </li>
    </ul>
  </div>
  <div class="fashContent">
   <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur...</p>
 </div>
</div>
</div>
</div>
</div>

<div class="row">
 <div class="col-lg-12 wow fadeInUp" data-wow-duration="700ms" data-wow-delay="300ms">
  <div class="h3contTttl">
    <h2>Planners</h2>
  </div>
</div>
</div>
<div class="row h3MarginBtm wow fadeInUp" data-wow-duration="700ms" data-wow-delay="300ms">
 <div id="loveCarousel" class="owl-carousel btnDesign">
  <div class="col-lg-4">
    <div class="fashImg noMarginBottom">
     <img src="images/home3/lov1.jpg" alt="">
     <div class="fashHover">
       <h2>12/10</h2>
       <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem.</p>
       <ul>
        <li>
          <a href="#"><i class="fa fa-eye"></i> <span>304</span> <b>|</b></a>
        </li>
        <li>
          <a href="#"><i class="fa fa-comment-o"></i> <span>2</span></a>
        </li>
      </ul>
    </div>
    <div class="fashContent">
     <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur...</p>
   </div>
 </div>
</div>
<div class="col-lg-4">
  <div class="fashImg noMarginBottom">
   <img src="images/home3/lov2.jpg" alt="">
   <div class="fashHover">
     <h2>12/10</h2>
     <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem.</p>
     <ul>
      <li>
        <a href="#"><i class="fa fa-eye"></i> <span>304</span> <b>|</b></a>
      </li>
      <li>
        <a href="#"><i class="fa fa-comment-o"></i> <span>2</span></a>
      </li>
    </ul>
  </div>
  <div class="fashContent">
   <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur...</p>
 </div>
</div>
</div>
<div class="col-lg-4">
  <div class="fashImg noMarginBottom">
   <img src="images/home3/lov3.jpg" alt="">
   <div class="fashHover">
     <h2>12/10</h2>
     <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem.</p>
     <ul>
      <li>
        <a href="#"><i class="fa fa-eye"></i> <span>304</span> <b>|</b></a>
      </li>
      <li>
        <a href="#"><i class="fa fa-comment-o"></i> <span>2</span></a>
      </li>
    </ul>
  </div>
  <div class="fashContent">
   <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur...</p>
 </div>
</div>
</div>
<div class="col-lg-4">
  <div class="fashImg noMarginBottom">
   <img src="images/home3/lov1.jpg" alt="">
   <div class="fashHover">
     <h2>12/10</h2>
     <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem.</p>
     <ul>
      <li>
        <a href="#"><i class="fa fa-eye"></i> <span>304</span> <b>|</b></a>
      </li>
      <li>
        <a href="#"><i class="fa fa-comment-o"></i> <span>2</span></a>
      </li>
    </ul>
  </div>
  <div class="fashContent">
   <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur...</p>
 </div>
</div>
</div>
<div class="col-lg-4">
  <div class="fashImg noMarginBottom">
   <img src="images/home3/lov2.jpg" alt="">
   <div class="fashHover">
     <h2>12/10</h2>
     <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem.</p>
     <ul>
      <li>
        <a href="#"><i class="fa fa-eye"></i> <span>304</span> <b>|</b></a>
      </li>
      <li>
        <a href="#"><i class="fa fa-comment-o"></i> <span>2</span></a>
      </li>
    </ul>
  </div>
  <div class="fashContent">
   <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur...</p>
 </div>
</div>
</div>
<div class="col-lg-4">
  <div class="fashImg noMarginBottom">
   <img src="images/home3/lov3.jpg" alt="">
   <div class="fashHover">
     <h2>12/10</h2>
     <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem.</p>
     <ul>
      <li>
        <a href="#"><i class="fa fa-eye"></i> <span>304</span> <b>|</b></a>
      </li>
      <li>
        <a href="#"><i class="fa fa-comment-o"></i> <span>2</span></a>
      </li>
    </ul>
  </div>
  <div class="fashContent">
   <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur...</p>
 </div>
</div>
</div>




</div>
</div>

</div>
<div class="col-lg-3 col-sm-4 col-xs-12">
  <div class="sidebar">
    <aside class="widget noBorderTop wow fadeInUp" data-wow-duration="700ms" data-wow-delay="300ms">
      <h3 class="widgetTitle">Additional Services</h3>
      <ul>
        <li><a href="#">Decorators</a></li>
      </ul>
    </aside>
  </div>
</div>
</div>
</div>
</section>
<button (click)="login()">Login</button>