

.height-of-logo li{
	padding-left: 0px;
	padding-right: 0px;
}

.thumbnail{
	height: 70px;
	width: 140px;

}

.image{
	width: 100%;
	height: 100%;
	margin-right: 0px;
	/*margin-right: 3em;*/
	/*margin-top: 1.5em;*/
	/*height: 300px;*/
	/*width: 300px;*/
}

.image img{
	width: 50px;
	height: 50px;
	-webkit-transition: all 1s ease; /* Safari and Chrome */
    -moz-transition: all 1s ease; /* Firefox */
    -ms-transition: all 1s ease; /* IE 9 */
    -o-transition: all 1s ease; /* Opera */
    transition: all 1s ease;
}

.image:hover img{
	-webkit-transform:scale(8.25); /* Safari and Chrome */
    -moz-transform:scale(8.25); /* Firefox */
    -ms-transform:scale(8.25); /* IE 9 */
    -o-transform:scale(8.25); /* Opera */
     transform:scale(8.25);
}

.makebox div{
	border: 5px solid black;
}

/*Top should be refactored!*/
@font-face{
	font-family: sinkinsanstwo;
	src: url("/assets/fonts/Sans200XLight.otf") format("opentype");
}

@font-face{
	font-family: sinkinsansthree;
	src: url("/assets/fonts/Sans300Light.otf") format("opentype");	
}

.flat-pink{
		color: #e35a9b;
}

.sans200{
	font-family: sinkinsanstwo;
}

.sans300{
	font-family: sinkinsansthree;
}

.flat-grey{
	color: #303030;
}

.light-grey{
	color: #8e8e8e;
}

.long-block {
  background: #e35a9b;
  text-align: left;
  padding-top: 15px;
  padding-bottom: 25px;
}

#clients{
	background: white;
}

.cf-height{
	height: 320px;
}

.cf-height .coverflow{
	padding-top: 15px;
}

.btn-primary{
	background: #e35a9b ;
	border: #e35a9b;
}

.form-register-small .form-control{
	border-left: 3px solid #e35a9b;
}

#subscribe .form-control{
	border-left: 3px solid #e35a9b;	
}

.footer .list-inline li .icon{
	color: #e35a9b;
}

.footer .list-unstyled li .icon{
	color: #e35a9b;
}

a{
	color: #e35a9b;
}

.navigation-header .navigation-bar > li.featured > a{
	border:1px solid #e35a9b;
	color: #e35a9b;
}

.navigation-header .navigation-bar > li.featured > a:Hover {
 	opacity: .9; 
 	background:#e35a9b; 
 	color:#fff; 
}

.fixmenu-clone.navigation-header .navigation-bar > .featured > a{
	color: #e35a9b;
}

#hero .btn-primary:hover, #hero .btn-primary.hovered{
	background: #FFF;
	border:1px solid #e35a9b;
	color: #e35a9b;
}

.btn-default:Hover, .btn-default.hovered{
	color: #e35a9b;
}

.navigation-header .navigation-bar > li > a{
	color: #303030;
}

.light{
	color: #303030;
}

.grey-btn{
	color: #303030;
	border:1px solid #303030;
}

.footer .footer-title{
	color: #303030;
}
.footer p, .footer li{
	color: #303030;
}

.copyright{
	color: #303030;
}

.ghost-light{
	color: #fff;
}

.ghost-light p{
	color: #fff;
}