	<div class="page-conten-inner">
		<section class="panel">
			<div class="panel-heading">
				<h3>Edit Venue</h3>
			</div>
			<div class="panel-body">
				<div class="row">
					<div class="col-lg-12 fields">
						<%= render 'form' %>
					</div>
				</div>
			</div>
		</section>
	</div>
<script type="text/javascript">
	$(function(){
		$('textarea').each(function(){
			autosize(this);
		});
	});
</script>
