<section class="topBar lightVer">
	<div class="container">
		<div class="row">
			<div class="col-sm-6">
				<p class="topDate">{{date | date}}</p>
			</div>
			<div class="col-sm-6">
				<p class="topHelp">Call us for listings: <a href="tel:+919689444210">+91 96 89 444210</a> </p>
			</div>
		</div>
	</div>
</section>
<section class="logoBar lightVer">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 col-sm-6">
				<div class="logo lightVer">
					<div class="logoImg">
						<img src="images/logoStar.png" alt=""/>
					</div>
					<h1><a href="#" class="dotayaari">Do Tayaari</a></h1>
				</div>
			</div>
			<div class="col-lg-6 col-sm-6">
				<div class="social lightVer text-right">
					<a class="fac" href="#"><i class="fa fa-facebook"></i></a>
					<a class="ins" href="#"><i class="fa fa-instagram"></i></a>
				</div>
			</div>
		</div>
	</div>
</section>
<header id="header" class="header lightVer">
	<div class="container">
		<div class="row">
			<div class="col-lg-3 fixedLogo">
				<div class="logo lightVer">
					<div class="logoImg">
						<img src="images/logoStar.png" alt=""/>
					</div>
					<h1><a href="#" class="dotayaari">Do Tayaari</a></h1>
				</div>
			</div>
			<div class="col-lg-9 col-sm-11 widthFix">
				<nav class="mainMenu">
					<div class="menuToggle hidden-lg hidden-md hidden-sm">
						<span></span>
						<span></span>
						<span></span>
					</div>
					<ul>
						<li>
							<a routerLink="/home" routerLinkActive="active">Home</a>
						</li>
						<li>
							<a routerLink="/venues" routerLinkActive="active">Venues</a>
						</li>
						<li>
							<a routerLink="/caterers" routerLinkActive="active">Caterers</a>
						</li>
						<li>
							<a routerLink="/planners" routerLinkActive="active">Planners</a>
						</li>
						<li>
							<a href="eventList.html">About</a>
						</li>
						<li>
							<a href="sports.html">Contact</a>
						</li>
					</ul>
				</nav>
			</div>
			<div class="col-lg-3 col-sm-1 searchHidden">
				<div class="searchDiv">
					<a class="searchOpen" href="#"><i class="fa fa-search"></i></a>
					<form action="#" method="post" class="headSearch">
						<input type="text" placeholder="Enter text to search...">
					</form>
				</div>
			</div>
		</div>
	</div>
</header>